node_modules

# Output
.output
.vercel
.svelte-kit
build
.db.sqlite3
*.sqlite3-*
dev-dist
optimized-images
tmp/
ssl/
hosting/
deploy.sh
melodie.tar

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.log-levels
tls/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log
storybook-static/