[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Sun, 04 Oct 2020 08:44:01 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d5650ab76719fbad40193e709bcf1fa6c1601801041; expires=Tue, 03-Nov-20 08:44:01 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0594614fbb0000ee7df49dd200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?lkg-colo=19&lkg-time=1601801042\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "cloudflare",
      "5dcd9e5f986bee7d-CDG"
    ],
    "responseIsBinary": false
  }
]