@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "./melodie-theme";

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

@utility content-visibility-auto {
  content-visibility: auto;
}

input:focus-visible {
  outline: none;
}

*:focus-visible {
  outline: 1px solid var(--color-primary-900);
  outline-offset: 2px;
}