[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/searchalbum.php?a=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "album": null
    },
    "rawHeaders": [
      "Mon, 21 Sep 2020 11:07:58 GMT",
      "Content-Type",
      "application/json",
      "14",
      "close",
      "__cfduid=def010751ab831cc7c169b7468f7b803d1600686478; expires=Wed, 21-Oct-20 11:07:58 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0551f26c34000006a6eaaa6200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d635359eafe06a6-LHR"
    ],
    "responseIsBinary": false
  }
]