[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Sun, 09 Aug 2020 07:30:44 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d9cc6d30971b3c87edf000b8c3c6f5e401596958244; expires=Tue, 08-Sep-20 07:30:44 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0473ba16f90000a8a376a2f200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5bffc604cebca8a3-CDG"
    ],
    "responseIsBinary": false
  }
]