[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/searchalbum.php?a=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "album": null
    },
    "rawHeaders": [
      "Sun, 09 Aug 2020 07:30:48 GMT",
      "Content-Type",
      "application/json",
      "14",
      "close",
      "__cfduid=d442ba4c93791987314d279844d97a3261596958248; expires=Tue, 08-Sep-20 07:30:48 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0473ba24c20000eda31f333200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5bffc61add4aeda3-CDG"
    ],
    "responseIsBinary": false
  }
]