[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/searchalbum.php?a=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "album": null
    },
    "rawHeaders": [
      "Mon, 21 Sep 2020 19:15:00 GMT",
      "Content-Type",
      "application/json",
      "14",
      "close",
      "__cfduid=d46fd0aaff13cea7fd0889a5fbd3a36511600715700; expires=Wed, 21-Oct-20 19:15:00 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0553b0515800000672e3082200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d661cc889c90672-LHR"
    ],
    "responseIsBinary": false
  }
]