[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=katie+lombardi",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Mon, 10 Aug 2020 06:23:56 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=dfcce25aad36b4ebc31be57511eb32c221597040635; expires=Wed, 09-Sep-20 06:23:55 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0478a348040000edcf703b2200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5c07a1866d57edcf-CDG"
    ],
    "responseIsBinary": false
  }
]