[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=katie+lombardi",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Mon, 21 Sep 2020 19:14:57 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=da82259e5bfa8ace54bfe4c13c556bfb51600715696; expires=Wed, 21-Oct-20 19:14:56 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0553b0435e0000ce8fbf8fc200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d661cb23fa1ce8f-LHR"
    ],
    "responseIsBinary": false
  }
]