[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/searchalbum.php?a=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "album": null
    },
    "rawHeaders": [
      "Sun, 04 Oct 2020 08:44:05 GMT",
      "Content-Type",
      "application/json",
      "14",
      "close",
      "__cfduid=d35757f3e8aad95d6da4a78908ab67a4c1601801045; expires=Tue, 03-Nov-20 08:44:05 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0594615d4b000068c4e191e200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?lkg-colo=19&lkg-time=1601801045\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "cloudflare",
      "5dcd9e7548b568c4-CDG"
    ],
    "responseIsBinary": false
  }
]