[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=katie+lombardi",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Tue, 22 Sep 2020 05:50:35 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d0c1dfc39873f375c6ffa9b411c52b6991600753835; expires=Thu, 22-Oct-20 05:50:35 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0555f636430000bbfa4da44200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d69bfd06eb3bbfa-LHR"
    ],
    "responseIsBinary": false
  }
]