[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Mon, 10 Aug 2020 06:23:56 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d5c8d03c05f8d406f69e01672f0010ded1597040636; expires=Wed, 09-Sep-20 06:23:56 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0478a34891000008430dbb7200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5c07a18749fd0843-CDG"
    ],
    "responseIsBinary": false
  }
]