[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/searchalbum.php?a=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "album": null
    },
    "rawHeaders": [
      "Mon, 10 Aug 2020 06:23:59 GMT",
      "Content-Type",
      "application/json",
      "14",
      "close",
      "__cfduid=ddc2e2b30ce63cca81e13bbdd4000e2be1597040639; expires=Wed, 09-Sep-20 06:23:59 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0478a355d8000008a76f1d5200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5c07a19c8f4108a7-CDG"
    ],
    "responseIsBinary": false
  }
]