[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/searchalbum.php?a=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "album": null
    },
    "rawHeaders": [
      "Tue, 22 Sep 2020 05:50:39 GMT",
      "Content-Type",
      "application/json",
      "14",
      "close",
      "__cfduid=d55735b0f003d8c329c36881366b9c1ed1600753839; expires=Thu, 22-Oct-20 05:50:39 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0555f6443e0000e61c8f045200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d69bfe6c9d7e61c-LHR"
    ],
    "responseIsBinary": false
  }
]