[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Mon, 21 Sep 2020 19:14:57 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d4f6d18c0576e0f651444b278c52624a11600715697; expires=Wed, 21-Oct-20 19:14:57 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0553b043f70000ce4bbeac5200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d661cb32e89ce4b-LHR"
    ],
    "responseIsBinary": false
  }
]