[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=katie+lombardi",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Sun, 09 Aug 2020 07:30:44 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=dd4a9219d1f3ce19c96d778c9c6c894c01596958244; expires=Tue, 08-Sep-20 07:30:44 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0473ba16680000cd87dc3f0200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5bffc603d81bcd87-CDG"
    ],
    "responseIsBinary": false
  }
]