[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=katie+lombardi",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Mon, 21 Sep 2020 11:07:54 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d43c0c55e21e2a1bf348cc4832c5782861600686474; expires=Wed, 21-Oct-20 11:07:54 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0551f25e4700002c62b81c9200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d635343ad482c62-LHR"
    ],
    "responseIsBinary": false
  }
]