[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Mon, 21 Sep 2020 11:07:55 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=dd034c6fd7b5d81ec4cf9547337a928e81600686474; expires=Wed, 21-Oct-20 11:07:54 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0551f25ed90000e5e87f9db200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5d6353448fbbe5e8-LHR"
    ],
    "responseIsBinary": false
  }
]