[
  {
    "scope": "https://www.theaudiodb.com:443",
    "method": "GET",
    "path": "/api/v1/json/1/search.php?s=loremipsum",
    "body": "",
    "status": 200,
    "response": {
      "artists": null
    },
    "rawHeaders": [
      "Thu, 06 Aug 2020 11:18:32 GMT",
      "Content-Type",
      "application/json",
      "16",
      "close",
      "__cfduid=d2585dc8d2d7ac5a6075f259d222705731596712711; expires=Sat, 05-Sep-20 11:18:31 GMT; path=/; domain=.theaudiodb.com; HttpOnly; SameSite=Lax; Secure",
      "PHP/7.4.1",
      "*",
      "DYNAMIC",
      "0465178ee60000086fcb859200000001",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "cloudflare",
      "5be85b917ae3086f-CDG"
    ],
    "responseIsBinary": false
  }
]