@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --dark-grey: #242943;
  --light-blue: #9bf1ff;
  --white: #ffffff;
}
body {
  @apply text-white;

  background: var(--dark-grey);
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}
